.banner {
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25%;
    max-width: 100%;
    height: auto;
}

body {
    overflow-x: hidden;
}

p {
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: fantasy;
    font-size: 50px;
}